<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117648801184-qs1qh42a3d6sdt4opv3i7s5gev74q6gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117648801184-qs1qh42a3d6sdt4opv3i7s5gev74q6gf</string>
	<key>API_KEY</key>
	<string>AIzaSyARH8kpXDcH7QAg21aiMVxY9K8H8dTdgAE</string>
	<key>GCM_SENDER_ID</key>
	<string>117648801184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp2</string>
	<key>PROJECT_ID</key>
	<string>myapp2-301c5</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp2-301c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117648801184:ios:e69946b107c2d62b8b38c5</string>
</dict>
</plist>